In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Copy_of_wgbh.csv')
df.head()

,Agency,ProjectName,ProjectAddress_1,Developer,GeneralContractor,SubContractor,SubContractorAddress_1,SubContractorAddress_2,Trade,DateEntered,SEX,MINOR,Race_Desc,RESIDENT,TotalHours
0,COB,7042 JAMAICA PLAIN LIBRARY,12 SEDGWICK STREET,CITY OF BOSTON / PFD,COLANTONIO INCORPORATED,KAPILOFF'S GLASS INC,47 NEW ASHFORD RD,NaN,NO WORK,9/9/25 0:00,M,N,CAUCASIAN,N,0.0
1,COB,7123 ADAMS BRANCH LIBRARY RENOVATIONS,"690 ADAMS STREET DORCHESTER, MA 02122",CITY OF BOSTON / PFD,J & J CONTRACTORS INC,NORTH EAST ENERGY CONTROL,50 GETCHELL WAY,NaN,NO WORK,3/21/21 0:00,M,N,CAUCASIAN,N,0.0
2,COB,7098 BPL RARE BOOKS RENOVATIONS,700 BOYLSON STREET,CITY OF BOSTON / PFD,BOSTON BUILDING & BRIDGE,J.R.J. CONSTRUCTION CO.,71 B WASHINGTON ST.,NaN,NO WORK,3/19/21 0:00,M,N,CAUCASIAN,N,0.0
3,COB,7098 BPL RARE BOOKS RENOVATIONS,700 BOYLSON STREET,CITY OF BOSTON / PFD,BOSTON BUILDING & BRIDGE,RICMOR CONSTRUCTION INC.,3 BERT DRIVE SUITE #8,NaN,NO WORK,3/19/21 0:00,M,N,CAUCASIAN,N,0.0
4,COB,7101 NEW EAST BOSTON POLICE STATION,"338 EAST EAGLE STREET EAST BOSTON, MA",CITY OF BOSTON / PFD,J & J CONTRACTORS INC,BACK BAY CONCRETE,87 NEW SALEM ST,NaN,NO WORK,3/17/21 0:00,M,N,CAUCASIAN,N,0.0

In [3]:
df['Trade'].unique()

array(['NO WORK', 'Waterproofer', 'Electrician', 'Iron Worker', 'Plumber',
       'Sheetmetal Worker', 'CARPENTER', 'GLAZIER', 'PIPEFITTER',
       'SPRINKLER FITTER', 'Equipment Operator', 'Laborer', 'Mason',
       'Mason Tender', 'Carpenter', 'EQUIPMENT OPERATOR', 'Glazier',
       'Insulator', 'Pipefitter', 'INSULATOR', 'PLUMBER', 'Bricklayer',
       'Piledriver', 'Sprinkler Fitter', 'ROOFER', 'SHEETMETAL WORKER',
       'LABORER', 'Asphalt Raker', 'IRON WORKER', 'Painter', 'HVAC',
       'Roofer', 'TECHNICIAN', 'Plasterer', 'BRICKLAYER', 'Wrecker',
       'Elev Const Helper', 'Elevator Const(Mech)', 'TAPER',
       'MASON TENDER', 'PAINTER', 'Oiler', 'ELECTRICIAN', 'FLOOR COVERS',
       'TILE WORKER', 'ELEVATOR CONST (MECH)', 'Telephone/Data Inst.',
       'Cement Finisher', 'Welder', 'TELE-COMMUNICATIONS',
       'Marble Tile Worker', 'Taper', 'Technician', 'Asbestos Worker',
       'PLASTERER', 'CEMENT MASON', 'CONCRETE WORKER', 'WATERPROOFER',
       'Millwright', 'Floor Layer', 'TILE SETTER', 'Carpet Layer',
       'PILEDRIVER', 'STEAMFITTER', 'CARPET LAYERS', 'Cement Laborer',
       'CRANE  OPERATOR', 'TRUCK DRIVER', 'HVAC MECHANIC', 'Groundman',
       'Lineman', 'Terrazzo Worker', 'Boilmaker', 'Utility Operator',
       'FIRE PROOFING SPRAYER', 'ASBESTOS WORKER', 'DIVER', 'OILER',
       'Lather', 'INSTALLER', 'TUGBOAT CAPTAIN', 'HOISTING ENGINEER',
       'Marble Refinisher', 'Installer/Apt Wirer', 'Splicer', 'Deleader',
       'Pumpman', 'Pipelayer', 'Metal Refinisher', 'Stage Hand',
       'Surveyor', 'Tree Surgeon', 'CURB SETTER', 'Driller',
       'CHAIN SAW OPERATOR', 'Blaster', 'Curbsetter/Paver', 'RAKER',
       'DOCK BUILDER', 'BOILERMAKERS', 'Sandblaster'], dtype=object)

In [4]:
df['Race_Desc'].unique()

array(['CAUCASIAN', 'BLACK', 'HISPANIC', 'ASIAN', 'OTHER'], dtype=object)

In [5]:
summary = pd.DataFrame(columns = ['TRADE', 'CAUCASIAN', 'BLACK', 'HISPANIC', 'ASIAN', 'OTHER', 'TOTAL_PROJECTS'])

trades_list = df['Trade'].unique()

trade_groups = df.groupby(df.Trade)

race_list = df['Race_Desc'].unique()

# compute percentage of employees by race
for i in range(len(trades_list)):
    temp = trade_groups.get_group(trades_list[i])
    entry = []
    total = 0
    for n in range(len(race_list)):
        filt = temp.Race_Desc == race_list[n]
        entry.append(temp[filt].shape[0])
        total += temp[filt].shape[0]
    percent = ["{:.0%}".format(int(x) / total) for x in entry]
    percent.insert(0,trades_list[i])
    percent.append(total)
    summary.loc[i] = percent

In [6]:
summary

                TRADE CAUCASIAN BLACK HISPANIC ASIAN OTHER TOTAL_PROJECTS
0             NO WORK      100%    0%       0%    0%    0%          37904
1        Waterproofer       57%   27%      15%    0%    0%           3371
2         Electrician       46%   22%      16%   14%    2%          37773
3         Iron Worker       53%   30%      12%    1%    5%          34904
4             Plumber       57%   21%      13%    7%    2%          17796
..                ...       ...   ...      ...   ...   ...            ...
96   Curbsetter/Paver       50%   50%       0%    0%    0%              8
97              RAKER      100%    0%       0%    0%    0%              1
98       DOCK BUILDER        0%    0%     100%    0%    0%              1
99       BOILERMAKERS        0%  100%       0%    0%    0%              1
100       Sandblaster      100%    0%       0%    0%    0%              5

[101 rows x 7 columns]

In [7]:
summary.to_csv('PercentageOfMinoritiesInTrades.csv')

In [8]:
dates = df['DateEntered']
for row in range(dates.shape[0]):
    # remove unnecessary timestamp
    df.at[row,'DateEntered'] = dates.iloc[row][:len(dates.iloc[row])-4]

In [9]:
df

,Agency,ProjectName,ProjectAddress_1,Developer,GeneralContractor,SubContractor,SubContractorAddress_1,SubContractorAddress_2,Trade,DateEntered,SEX,MINOR,Race_Desc,RESIDENT,TotalHours
0,COB,7042 JAMAICA PLAIN LIBRARY,12 SEDGWICK STREET,CITY OF BOSTON / PFD,COLANTONIO INCORPORATED,KAPILOFF'S GLASS INC,47 NEW ASHFORD RD,NaN,NO WORK,9/9/25,M,N,CAUCASIAN,N,0.0
1,COB,7123 ADAMS BRANCH LIBRARY RENOVATIONS,"690 ADAMS STREET DORCHESTER, MA 02122",CITY OF BOSTON / PFD,J & J CONTRACTORS INC,NORTH EAST ENERGY CONTROL,50 GETCHELL WAY,NaN,NO WORK,3/21/21,M,N,CAUCASIAN,N,0.0
2,COB,7098 BPL RARE BOOKS RENOVATIONS,700 BOYLSON STREET,CITY OF BOSTON / PFD,BOSTON BUILDING & BRIDGE,J.R.J. CONSTRUCTION CO.,71 B WASHINGTON ST.,NaN,NO WORK,3/19/21,M,N,CAUCASIAN,N,0.0
3,COB,7098 BPL RARE BOOKS RENOVATIONS,700 BOYLSON STREET,CITY OF BOSTON / PFD,BOSTON BUILDING & BRIDGE,RICMOR CONSTRUCTION INC.,3 BERT DRIVE SUITE #8,NaN,NO WORK,3/19/21,M,N,CAUCASIAN,N,0.0
4,COB,7101 NEW EAST BOSTON POLICE STATION,"338 EAST EAGLE STREET EAST BOSTON, MA",CITY OF BOSTON / PFD,J & J CONTRACTORS INC,BACK BAY CONCRETE,87 NEW SALEM ST,NaN,NO WORK,3/17/21,M,N,CAUCASIAN,N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634458,COB,80-82 FENWOOD,JAMAICA PLAIN MA 02130,RTH RIVERWAY LLCI,CONSIGLI CONSTRUCTION,LYNNWELL ASSOCIATES INC,211 BOWKER ST.,27 DRYDOCK AVE.,Electrician,5/21/16,F,Y,BLACK,Y,32.0
634459,COB,80-82 FENWOOD,JAMAICA PLAIN MA 02130,RTH RIVERWAY LLCI,CONSIGLI CONSTRUCTION,LYNNWELL ASSOCIATES INC,211 BOWKER ST.,27 DRYDOCK AVE.,Electrician,5/21/16,M,Y,HISPANIC,Y,40.0
634460,COB,80-82 FENWOOD,JAMAICA PLAIN MA 02130,RTH RIVERWAY LLCI,CONSIGLI CONSTRUCTION,LYNNWELL ASSOCIATES INC,211 BOWKER ST.,27 DRYDOCK AVE.,Electrician,5/21/16,M,N,CAUCASIAN,N,296.0
634461,COB,80-82 FENWOOD,JAMAICA PLAIN MA 02130,RTH RIVERWAY LLCI,CONSIGLI CONSTRUCTION,BOWLINE CO.,10 REX DE,NaN,Equipment Operator,5/21/16,M,N,CAUCASIAN,N,50.5
634462,COB,80-82 FENWOOD,JAMAICA PLAIN MA 02130,RTH RIVERWAY LLCI,CONSIGLI CONSTRUCTION,W. L. FRENCH EXCAVATING,3 SURVEY CIRCLE SUIK #1,NaN,Equipment Operator,5/21/16,M,N,CAUCASIAN,N,48.0

In [10]:
df = df.drop(labels=0, axis=0)

date = pd.DataFrame(columns = ['Date', 'Month', 'Day', 'Year'])
date['Date'] = pd.to_datetime(df['DateEntered'])
date['Year'] = pd.DatetimeIndex(date['Date']).year
date['Month'] = pd.DatetimeIndex(date['Date']).month
date['Day'] = pd.DatetimeIndex(date['Date']).day

In [11]:
df['Year'] = date['Year']
df['Year'].unique()

array([2021, 2020, 2019, 2018, 2017, 2016], dtype=int64)

In [12]:
summary2 = pd.DataFrame(columns = ['YEAR', 'CAUCASIAN', 'AFRICAN_AMERICAN', 'HISPANIC', 'ASIAN', 'OTHER', 'TOTAL'],
                       index = [2016, 2017, 2018, 2019, 2020, 2021])

years = df['Year'].unique()

# compute workforce composition by race for each year
for i in range(len(years)):
    filt = df['Year'] == years[i]
    temp = df[filt]
    entry = [years[i]]
    total = 0
    for n in range(len(race_list)):
        filt2 = temp.Race_Desc == race_list[n]
        entry.append(temp[filt2].shape[0])
        total += temp[filt2].shape[0]
    entry.append(total)
    summary2.loc[years[i]] = entry

In [13]:
summary2

      YEAR CAUCASIAN AFRICAN_AMERICAN HISPANIC ASIAN OTHER   TOTAL
2016  2016     42263            13988    14400  2262  1395   74308
2017  2017     71055            26562    28763  3696  2499  132575
2018  2018     76966            28796    31493  4249  2851  144355
2019  2019     81180            32957    33406  4408  3385  155336
2020  2020     60426            20863    21836  2785  1845  107755
2021  2021     10973             4051     4241   536   332   20133

In [14]:
summary2.to_csv('NumberOfJobsToMinorities_PerYear.csv')

In [15]:
summary2_percents = pd.DataFrame(columns = ['YEAR', 'CAUCASIAN', 'AFRICAN_AMERICAN', 'HISPANIC', 'ASIAN', 'OTHER', 
                                            'TOTAL'], index = [2016, 2017, 2018, 2019, 2020, 2021])

years = df['Year'].unique()

for i in range(len(years)):
    filt = df['Year'] == years[i]
    temp = df[filt]
    entry = []
    total = 0
    for n in range(len(race_list)):
        filt2 = temp.Race_Desc == race_list[n]
        entry.append(temp[filt2].shape[0])
        total += temp[filt2].shape[0]
    percent = ["{:.0%}".format(int(x) / total) for x in entry]
    percent.insert(0, years[i])
    percent.append(total)
    summary2_percents.loc[years[i]] = percent

In [16]:
summary2_percents

      YEAR CAUCASIAN AFRICAN_AMERICAN HISPANIC ASIAN OTHER   TOTAL
2016  2016       57%              19%      19%    3%    2%   74308
2017  2017       54%              20%      22%    3%    2%  132575
2018  2018       53%              20%      22%    3%    2%  144355
2019  2019       52%              21%      22%    3%    2%  155336
2020  2020       56%              19%      20%    3%    2%  107755
2021  2021       55%              20%      21%    3%    2%   20133

In [17]:
summary2_percents.to_csv('PercentageOfJobsToMinorities_PerYear.csv')