In [1]:
import pandas as pd
import numpy as np

In [2]:
# combine data for apprentices and journeymen
filename1 = 'WorkforceUtilizationReport-Apprentice.csv'
filename2 = 'WorkforceUtilizationReport-Journeymen.csv'
df = pd.read_csv(filename1)
temp_df = pd.read_csv(filename2)

df = pd.concat([df, temp_df], join='inner')

print(temp_df.shape)
df.shape

(7422, 18)

(14844, 18)

In [3]:
# get the list of unique contractors
contractors_list = df['CONTRACTOR'].unique()

# group into different DataFrames by contractor name
contractor_groups = df.groupby(df.CONTRACTOR)

In [4]:
agg_df = pd.DataFrame(columns=['CONTRACTOR', 'CAUCASIAN', 'AFRICAN_AMERICAN', 'HISPANIC', 'ASIAN', 'NATIVE_AMERICAN'])

# for each contractor, find the mean hours assigned to employees from different races
for i in range(len(contractors_list)):
    temp_df = contractor_groups.get_group(contractors_list[i])
    agg_df.loc[i] = [contractors_list[i], temp_df['CAUCASIAN'].mean(), temp_df['AFRICAN_AMERICAN'].mean(), temp_df['HISPANIC'].mean(),
                     temp_df['ASIAN'].mean(), temp_df['NATIVE_AMERICAN'].mean()]

In [5]:
agg_df

,CONTRACTOR,CAUCASIAN,AFRICAN_AMERICAN,HISPANIC,ASIAN,NATIVE_AMERICAN
0,Rise engineering,5.183333,0.000000,14.325000,0.533333,0.0
1,Crestview construction & trucking inc.,32.272959,0.000000,0.000000,0.000000,0.0
2,"Hop river concrete, inc",25.066667,0.266667,45.983333,0.000000,0.0
3,"Orlando annulli & sons, inc.",90.087500,0.000000,0.000000,0.000000,0.0
4,"Universal electric company, inc.",79.773810,4.190476,9.654762,0.190476,0.0
...,...,...,...,...,...,...
456,Envirogreen llc,0.000000,0.000000,30.000000,0.000000,0.0
457,"North east foam solutions, inc.",8.000000,0.000000,0.000000,0.000000,0.0
458,Save-on-wall,18.000000,0.000000,2.000000,0.000000,0.0
459,Jerez llc,0.000000,0.000000,68.000000,0.000000,0.0
460,Kne corporation,12.000000,0.000000,0.000000,0.000000,0.0

In [6]:
filename = r'Mean_Hours_Assigned_By_Contractor.csv'
agg_df.to_csv(filename, index = True)