In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [2]:
# combine data for apprentices and journeymen
filename1 = 'WorkforceUtilizationReport-Apprentice.csv'
filename2 = 'WorkforceUtilizationReport-Journeymen.csv'
df = pd.read_csv(filename1)
temp_df = pd.read_csv(filename2)

df = pd.concat([df, temp_df], join='inner')

print(temp_df.shape)
df.shape

(7422, 18)

(14844, 18)

In [3]:
# get the list of unique projects
projects_list = df['PROJECT_CODE'].unique()

# group into different DataFrames by project code
project_groups = df.groupby(df.PROJECT_CODE)

agg_df = pd.DataFrame(columns=['PROJECT_CODE', 'CAUCASIAN', 'AFRICAN_AMERICAN', 'HISPANIC', 'ASIAN', 'NATIVE_AMERICAN'])

# for each project, find the mean hours assigned to employees from different races
for i in range(len(projects_list)):
    temp_df = project_groups.get_group(projects_list[i])
    agg_df.loc[i] = [projects_list[i], temp_df['CAUCASIAN'].mean(), temp_df['AFRICAN_AMERICAN'].mean(), temp_df['HISPANIC'].mean(),
                     temp_df['ASIAN'].mean(), temp_df['NATIVE_AMERICAN'].mean()]

In [4]:
agg_df.head()

,PROJECT_CODE,CAUCASIAN,AFRICAN_AMERICAN,HISPANIC,ASIAN,NATIVE_AMERICAN
0,AEP 1407E UT1,1.333333,0.000000,1.333333,2.666667,0.000000
1,CME0902 DC1 CM,34.727991,1.696594,5.947344,0.278868,0.000000
2,DMH1301 DC1 C,104.360119,9.262897,5.341270,0.000000,0.000000
3,DPH1350E EC1,19.554598,0.031609,11.936782,0.275862,0.000000
4,HCC0801 DC2,77.788371,3.603107,9.662900,0.291902,0.311676

In [5]:
filename = r'Mean_Hours_Assigned_By_Project.csv'
agg_df.to_csv(filename, index = True)