In [3]:
import pandas as pd

In [5]:
f1 = 'WorkforceUtilizationReport-Apprentice.csv'
f2 = 'WorkforceUtilizationReport-Journeymen.csv'
df = pd.read_csv(f1)
temp_df = pd.read_csv(f2)

df = pd.concat([df, temp_df], join='inner')

In [6]:
craft_levels = ['Journeymen', 'Apprentice']

levels = df.groupby(df.CRAFT_LEVEL)

summary = pd.DataFrame(columns=['LEVEL', 'CAUCASIAN', 'AFRICAN_AMERICAN', 'HISPANIC', 'ASIAN', 'NATIVE_AMERICAN', 
                                'OTHER', 'FEMALE'])

for i in range(len(craft_levels)):
    lvl = levels.get_group(craft_levels[i])
    summary.loc[i] = [craft_levels[i], lvl['CAUCASIAN'].sum()/df['CAUCASIAN'].sum(), 
                      lvl['AFRICAN_AMERICAN'].sum()/df['AFRICAN_AMERICAN'].sum(),
                      lvl['HISPANIC'].sum()/df['HISPANIC'].sum(), lvl['ASIAN'].sum()/df['ASIAN'].sum(),
                      lvl['NATIVE_AMERICAN'].sum()/df['NATIVE_AMERICAN'].sum(), 
                      lvl['OTHER'].sum()/df['OTHER'].sum(), lvl['TOTAL_FEMALE'].sum()/df['TOTAL_FEMALE'].sum()]

In [7]:
summary

,LEVEL,CAUCASIAN,AFRICAN_AMERICAN,HISPANIC,ASIAN,NATIVE_AMERICAN,OTHER,FEMALE
0,Journeymen,0.917302,0.767743,0.822106,0.782835,0.931969,0.95408,0.590112
1,Apprentice,0.082698,0.232257,0.177894,0.217165,0.068031,0.04592,0.409888